/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .navbar-light .navbar-nav{
        background:#2f334de6;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 1
        0px 0;
    }

    #banner{
        padding-top: 140px;
        padding-bottom: 90px;
    }

    #banner .banner-text h1{
        padding: 0;
        font-size: 27px;
    }

    #banner .banner-text p{
        padding: 0;
        font-size: 15px;
    }

    #team .card{
        margin-bottom: 30px;
    }

    #test{
        padding-top: 70px;
        padding-bottom: 130px;
        margin-top: 30px;
    }

    #test::before{
        display: none;
    }

    #test .slider_main .slider_child h4{
        font-size: 22px;
    }

    #down{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #down .down_text h2{
        font-size: 24px;
    }
    #contact{
        padding-bottom: 60px;
    }
    #contact .cont_item{
        margin-bottom: 30px;
    }


    footer p{
        padding: 0;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .navbar-light .navbar-nav{
        background:#2f334de6;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 10px 0;
    }

    #banner{
        padding-top: 140px;
        padding-bottom: 90px;
    }

    #banner .banner-text h1{
        padding: 0;
        font-size: 36px;
    }

    #banner .banner-text p{
        padding: 0;
        font-size: 15px;
    }

    #features{
        padding-top: 0;
        padding-bottom: 50px;
    }
    #team .card{
        margin-bottom: 30px;
    }

    #test{
        padding-top: 70px;
        padding-bottom: 130px;
        margin-top: 30px;
    }

    #test::before{
        display: none;
    }

    #test .slider_main .slider_child h4{
        font-size: 28px;
    }

    #down{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #down .down_text h2{
        font-size: 24px;
    }
    #contact{
        padding-bottom: 60px;
    }
    #contact .cont_item{
        margin-bottom: 30px;
    }


    footer p{
        padding: 0 85px;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-light .navbar-nav{
        background:#2f334de6;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 10px 0;
    }

    #banner .banner-text h1{
        padding: 0;
        font-size: 44px;
    }

    #banner .banner-text p{
        font-size: 21px;
    }

    #test{
        padding-top: 50px;
        padding-bottom: 100px;
        margin-top: 50px;
    }

    #test .slider_main .slider_child h4{
        font-size: 22px;
    }

    #contact{
        padding-bottom: 40px;
    }

    footer p{
        padding: 0 180px;
    }

 }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* // Extra large devices (large desktops) */
@media (min-width: 1200px) { 

 }